img{
    height: 600px;
}

table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}

table{
    table-layout: auto;
    height: 300px;
    width: 300px;
    text-align: center;
}

p{
    line-height: 1.5em;
}

#img_coupe{
    height: 250px;
}

#fr{
    height: 50px;
}

#belg{
    height: 50px;
}