ul,li{
    margin:0;
    padding: 0;
    list-style: none;
}

#grid{
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(17, 50px);
    grid-template-areas: 
    "w00 w01 w01 w01 w01 w02 w02 w02 w02 w02 w02 w02 w02 w02 w02 w02 w03 y00"
    "w00 b00 b00 b00 b00 b00 b00 w04 w04 b01 b01 b01 b01 b01 b01 b01 w03 y00"
    "w00 b00 b00 b00 b00 b00 b00 w04 w04 b01 b01 b01 b01 b01 b01 b01 w03 y00"
    "bl0 w05 w05 bl1 w06 w06 w07 y01 y01 r00 r00 r00 r00 r00 r00 r01 w03 y00"
    "bl0 w05 w05 bl1 w06 w06 w07 y01 y01 r00 r00 r00 r00 r00 r00 r01 w03 y00"
    "bl0 w05 w05 bl1 w06 w06 w07 y01 y01 r00 r00 r00 r00 r00 r00 r01 w03 y00"
    "bl0 w05 w05 bl1 w06 w06 w07 y01 y01 r00 r00 r00 r00 r00 r00 r01 w03 y00"
    "bl0 w05 w05 bl1 w06 w06 w07 y01 y01 r00 r00 r00 r00 r00 r00 r01 w03 y00"
    "bl0 w05 w05 bl1 y02 r02 r02 b02 b02 w08 w08 w08 w08 w08 w08 w09 bl2 bl2"
    "bl0 w05 w05 bl1 y02 r02 r02 b02 b02 w08 w08 w08 w08 w08 w08 w09 bl2 bl2"
    ;
}

#white{
    grid-area: w00;
    border: 5px black solid;
}

#white1{
    grid-area: w01;
    border: 5px black solid;
}

#white2{
    grid-area: w02;
    border: 5px black solid;
}

#white3{
    grid-area: w03;
    border: 5px black solid;
}

#white4{
    grid-area: w04;
    border: 5px black solid;
}

#white5{
    grid-area: w05;
    border: 5px black solid;
}

#white6{
    grid-area: w06;
    border: 5px black solid;
}

#white7{
    grid-area: w07;
    border: 5px black solid;
}

#white8{
    grid-area: w08;
    border: 5px black solid;
}
#white9{
    grid-area: w09;
    border: 5px black solid;
}

#blue{
    grid-area: b00;
    background-color: blue;
    border: 5px black solid;
}

#blue1{
    grid-area: b01;
    background-color: blue;
    border: 5px black solid;
}

#blue2{
    grid-area: b02;
    background-color: blue;
    border: 5px black solid;
}

#black{
    grid-area: bl0;
    background-color: black;
    border: 5px black solid;
}

#black1{
    grid-area: bl1;
    background-color: black;
    border: 5px black solid;
}

#black2{
    grid-area: bl2;
    background-color: black;
    border: 5px black solid;
}

#yellow{
    grid-area: y00;
    background-color: yellow;
    border: 5px black solid;
}

#yellow1{
    grid-area: y01;
    background-color: yellow;
    border: 5px black solid;
}

#yellow2{
    grid-area: y02;
    background-color: yellow;
    border: 5px black solid;
}

#red{
    grid-area: r00;
    background-color: red;
    border: 5px black solid;
}

#red1{
    grid-area: r01;
    background-color: red;
    border: 5px black solid;
}

#red2{
    grid-area: r02;
    background-color: red;
    border: 5px black solid;
}




