body{
    margin: 0;
    padding: 0;
    background-color: burlywood;
    color: darkgoldenrod;
}


img{
    height: 100px;
    width: 100px;
}

#temp{
    display: flex;
    flex: row wrap;
}

#hov{
    display: flex;
    flex-direction: row-reverse ;

}

#flex div{
    margin: 0 5px;
    padding: 0;
    border-top: 1px black solid;
    border-bottom: 3px black solid;
    display: flex;
    justify-content: space-between;
}

#accueil{
    height: 50px;
    width: 100%;
    margin-top: 5px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

@media screen and (min-width:800px){
    #flex div{
        border: 0;
        padding-right: 25px;
        padding-left: 25px;
        border-right: 1px black solid;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    #flex div:last-child{
        border: 0;
    }

}