.row:after{
    display:block;
    clear:both;
    content:'';
}

img{
    height: 40px;
    width: 40px;
}

#ham{
    height: 10px;
}

#ham img{
    height: 30px;
    width: 30px;
    float: right;
}

#intro{
    text-align: center;
    margin: auto;
}

#intro1{
    margin: 0;
    padding: 0;
    display: none;
}

#intro1 a{
    padding: 0px 20px;
    text-decoration: none;
    color: black;
    border: 1px black solid;
    border-radius: 10px;
}

#welcome p{
    margin: 0 30px;
}

#article{
    float: left;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    background-color: lightgrey;
    border-radius: 30px;
}

#article img{
    float: left;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}


footer>a{
    background-color: grey;
    text-align: center;
    text-decoration: none;
    color: black;
}

.cols-xs-1{
    width: calc(100%/12);
}

.cols-xs-2{
    width: calc(200%/12);
}

.cols-xs-3{
    width: calc(300%/12);
}

.cols-xs-4{
    width: calc(400%/12);
}

.cols-xs-5{
    width: calc(500%/12);
}

.cols-xs-6{
    width: calc(600%/12);
}

.cols-xs-7{
    width: calc(700%/12);
}

.cols-xs-8{
    width: calc(800%/12);
}

.cols-xs-9{
    width: calc(900%/12);
}

.cols-xs-10{
    width: calc(1000%/12);
}

.cols-xs-11{
    width: calc(1100%/12);
}

.cols-xs-12{
    width: calc(1200%/12);
}

@media screen and (min-width:350px){
    #ham{
        display: none;
    }

    #intro1{
        display: block;
        float: left;
        text-align: center;
    }

    #welcome{
        clear: both;
    }

    #article{
        margin-left: 60px;
    }

    .cols-sm-1{
        width: calc(100%/12);
    }

    .cols-sm-2{
        width: calc(200%/12);
    }

    .cols-sm-3{
        width: calc(300%/12);
    }

    .cols-sm-4{
        width: calc(400%/12);
    }

    .cols-sm-5{
        width: calc(500%/12);
    }

    .cols-sm-6{
        width: calc(600%/12);
    }

    .cols-sm-7{
        width: calc(700%/12);
    }

    .cols-sm-8{
        width: calc(800%/12);
    }

    .cols-sm-9{
        width: calc(900%/12);
    }

    .cols-sm-10{
        width: calc(1000%/12);
    }

    .cols-sm-11{
        width: calc(1100%/12);
    }

    .cols-sm-12{
        width: calc(1200%/12);
    }
}

@media screen and (min-width:615px){
    img{
        height: 60px;
        width: 60px;
    }

    #intro11{
        margin: 0 25px;
    }

    .cols-md-1{
        width: calc(100%/12);
    }

    .cols-md-2{
        width: calc(200%/12);
    }

    .cols-md-3{
        width: calc(300%/12);
    }

    .cols-md-4{
        width: calc(400%/12);
    }

    .cols-md-5{
        width: calc(500%/12);
    }

    .cols-md-6{
        width: calc(600%/12);
    }

    .cols-md-7{
        width: calc(700%/12);
    }

    .cols-md-8{
        width: calc(800%/12);
    }

    .cols-md-9{
        width: calc(900%/12);
    }

    .cols-md-10{
        width: calc(1000%/12);
    }

    .cols-md-11{
        width: calc(1100%/12);
    }

    .cols-md-12{
        width: calc(1200%/12);
    }
}

@media screen and (min-width:1100px){
    img{
        height: 80px;
        width: 80px;
    }

    #article:first-child{
        margin-left: 20px;
    }

    .cols-lg-1{
        width: calc(100%/12);
    }

    .cols-lg-2{
        width: calc(200%/12);
    }

    .cols-lg-3{
        width: calc(300%/12);
    }

    .cols-lg-4{
        width: calc(400%/12);
    }

    .cols-lg-5{
        width: calc(500%/12);
    }

    .cols-lg-6{
        width: calc(600%/12);
    }

    .cols-lg-7{
        width: calc(700%/12);
    }

    .cols-lg-8{
        width: calc(800%/12);
    }

    .cols-lg-9{
        width: calc(900%/12);
    }

    .cols-lg-10{
        width: calc(1000%/12);
    }

    .cols-lg-11{
        width: calc(1100%/12);
    }

    .cols-lg-12{
        width: calc(1200%/12);
    }
}