body{
    font-size: 1.2em;
    margin: 0px;
    padding: 0px;
}

header{
    background-color: red;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-bottom: 10px;
}

nav{
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.aside1{
    background-color: yellow;
}

.aside2{
    background-color: plum;
}

aside{
    padding: 150px;
    padding-bottom: 300px;
    font-weight: bold;
}

p{
    padding: 10px;
}

div{
    background-color: lightskyblue;
    display: flex;
}

li{
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
    border: 1px black solid;
    padding: 10px;
    padding-left: 150px;
    padding-right: 148px;
}

ul{
    margin: 0px;
    padding: 0px;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

footer{
    background-color: lightgreen;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}