/* -------------------- gestion de la taille du texte est suppression des bordures exterieures blanches et moche ----------- */
* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

h2{
    text-align: center;
}

/*--------------------------------------- gestion du header ---------------------------------------- */

header {
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 2;
  }
  
h1{
    padding-top: 15px;
  }
  
nav{
    display: flex;
    flex-direction:column;
    text-align: center;
    width: 100%;
  }
  
ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-between;
  }
  
a{
    text-decoration:none;
    color: black;
    display:block;
    flex:1;
    text-align: center;
    border: 1px solid black;
  }

/* ---------------------- dimensionnement des aside(s) ---------------- */

.aside1{
    background-color: yellow;
}

.aside2{
    background-color: plum;
}

aside{
    flex: 1;
    padding: 100px;
    padding-bottom: 300px;
    font-weight: bold;
}

/* ----------------------------- gestion des <p> ---------------------------- */

div{flex: 14;
    background-color: lightskyblue;
    display: flex;
}

    /*--------------------------------- le footer ------------------------------- */

footer{
    flex: 2;
    display: flex;
    background-color: lightgreen;
    text-align: center;
    flex-direction: column;

}