hr{
    margin-top: 600px;
    margin-bottom: 600px;
}


#first{
    border: 1px black solid;
    background-color: green;
    padding: 80px;
    margin: 100px;
}

#second{
    border: 1px black solid;
    background-color: blue;
    padding: 80px;
}

#third{
    border: 1px black solid;
    background-color: chocolate;
    padding: 80px;
}

/* exo 2 */

#f1{
    border: 1px black solid;
    background-color: green;
    padding: 80px;
    margin: 100px;
}

#s2{
    border: 1px black solid;
    background-color: blue;
    padding: 80px;
    position: relative;
    left: 150px;
}

#t3{
    border: 1px black solid;
    background-color: chocolate;
    padding: 80px;
    position: relative;
    right: 400px;
}

/* exo3 */

#f4{
    border: 1px black solid;
    background-color: green;
    padding: 80px;
    margin: 100px;
}

#s5{
    border: 1px black solid;
    background-color: blue;
    padding: 80px;
    position: relative;
}

#t6{
    border: 1px black solid;
    background-color: chocolate;
    padding: 80px;
    position: absolute;
    top: 300px;
    left: 400px;
}

/* exo 4 */

#f7{
    border: 1px black solid;
    background-color: lightskyblue;
    padding: 40px;
    position: relative;
}

#s8{
    border: 1px black solid;
    background-color: green;
    padding: 40px;
    margin-left: 620px;
    margin-right: 620px;
    position: relative;
    top: 300px;
}

#t9{
    border: 1px black solid;
    background-color: blue;
    padding: 40px;
    position: relative;
}

#f10{
    border: 1px black solid;
    background-color: chocolate;
    padding: 40px;
    position: absolute;
    top: 300px;
    left: 300px;
}

/* exo 5 */

#f11{
    border: 1px black solid;
    background-color: lightskyblue;
    box-sizing: border-box;
    position: absolute;
    
    padding: 290px;
    padding-right: 310px;
    padding-bottom: 260px;
}

#s12{
    border: 1px black solid;
    background-color: green;
    padding: 100px;
    position: absolute;
    top: 50px;
    left: 50px;

}

#t13{
    border: 1px black solid;
    background-color: blue;
    padding: 100px;
    position: absolute;
    top: -1px;
    left: 290px;
}

#f14{
    border: 1px black solid;
    background-color: chocolate;
    padding: 100px;
    position: absolute;
    right: 290px;
    top: 250px;
}

#f15{
    border: 1px black solid;
    background-color: yellow;
    padding: 100px;
    position: absolute;
    left: 290px;
    bottom: -1px;
}