#first{
    border: 1px black solid;
    background-color: green;
    padding: 80px;
    margin: 100px;
}

#second{
    border: 1px black solid;
    background-color: blue;
    padding: 80px;
}

#third{
    border: 1px black solid;
    background-color: chocolate;
    padding: 80px;
}

/* exo 2 */

#f1{
    border: 1px black solid;
    background-color: green;
    padding: 80px;
    margin: 100px;
}

#s2{
    border: 1px black solid;
    background-color: blue;
    padding: 80px;
    position: relative;
    left: 150px;
}

#t3{
    border: 1px black solid;
    background-color: chocolate;
    padding: 80px;
    position: relative;
    right: 400px;
}

/* exo3 */

#f4{
    border: 1px black solid;
    background-color: green;
    padding: 80px;
    margin: 100px;
}

#s5{
    border: 1px black solid;
    background-color: blue;
    padding: 80px;
    position: relative;
}

#t6{
    border: 1px black solid;
    background-color: chocolate;
    padding: 80px;
    position: absolute;
    top: 300px;
    left: 400px;
}