#first{
    border: 1px black solid;
    background-color: green;
    padding: 80px;
    margin: 100px;
}

#second{
    border: 1px black solid;
    background-color: blue;
    padding: 80px;
}

#third{
    border: 1px black solid;
    background-color: chocolate;
    padding: 80px;
}

/* exo 2 */

#first{
    border: 1px black solid;
    background-color: green;
    padding: 80px;
    margin: 100px;
}

#second{
    border: 1px black solid;
    background-color: blue;
    padding: 80px;
    position: relative;
    left: 150px;
}

#third{
    border: 1px black solid;
    background-color: chocolate;
    padding: 80px;
    position: relative;
    right: 400px;
}